@font-face {
    font-family: 'Titles';
    src: url('./../assets/fonts/Platypi-Medium.ttf');
}

@font-face {
    font-family: 'Subtitles';
    src: url('./../assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Paragraphs';
    src: url('./../assets/fonts/Lato-Light.ttf');
}

$dark-font: rgba(0, 0, 0, 0.8);
$light-font: rgba(255, 255, 255, 0.8);

:root {
    font-family: Lato-Bold, Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;

    color-scheme: light dark;
    color: #e8ede7;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f5f5f5;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    height: 100%;
}

#root {
    background-color: blue;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1,
h2,
h3 {
    font-family: Platypi-Medium;
    margin: 12px;
}
h1 {
    font-size: 58px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 25px;
}
p {
    font-size: 18px;
    margin: 12px;
}
a {
    text-decoration: none;
    color: #fff;
    &:hover {
        color: #8ab7bb;
        text-decoration: underline;
    }
}
