@font-face {
    font-family: 'NotoSans';
    src: url('./../assets/fonts/NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$dark-font: rgba(42, 42, 42);

:root {
    font-family: 'NotoSans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;

    color-scheme: light dark;
    color: $dark-font;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
}

body.en {
    direction: ltr;
}

body.ar {
    direction: rtl;
}

#root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1,
h2,
h3 {
    font-family: Platypi-Medium;
    margin: 0px;
}

a {
    text-decoration: none;
    color: $dark-font;
    opacity: 1;
    &:hover {
        text-decoration: underline;
        opacity: 0.8;
    }
}

.ant-form-item-explain-error {
    margin-bottom: 10px !important;
}

button {
    box-shadow: none !important;

    cursor: pointer;
}
