#home-page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#home-carousel {
    width: 100%;
    height: 500px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

#home-bottom {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

// #about {
//     padding: 20px;
//     width: 50%;
//     height: fit-content;
//     display: flex;
//     flex-direction: column;
//     background-color: #f0f0f0;
// }

#home-categories {
    align-self: end;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.home-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.home-category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.home-category-item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.home-category-item:hover img {
    opacity: 0.6;
}

.home-category-item:hover h2 {
    opacity: 1;
}

#login-page,
#signup-page {
    padding: 20px;
    box-sizing: border-box;

    a:hover {
        color: rgba(42, 42, 42);
    }
}

#login-page h1,
#signup-page h1 {
    text-align: center;
    margin-bottom: 20px;
}

#login-page .ant-form-item,
#signup-page .ant-form-item {
    margin-bottom: 20px;
}

#login-page .ant-form-item-control-input-content,
#signup-page .ant-form-item-control-input-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#admin-dashboard-page {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}
